<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Momento</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
        <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.js'></script>
        <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.css' rel='stylesheet' />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id="wrapper">
            @RenderBody()
        </div>
    </body>
</html>
