.leaflet-control-locate a {
        background-image: url(/images/locate.png);
        background-position: -2px -2px;
}

.leaflet-touch .leaflet-control-locate a {
        background-image: url(/images/locate_touch.png);
}
