html {
	overflow: hidden;
}

body > div {
  position:relative;
  z-index:1;
  }

/*SIDEBAR*/
#sidebar {
  position:absolute;
  top:0px;
  right:0;
  bottom:0;
  width:330px;
  background:rgb(37, 53, 61);
  background:rgba(37, 53, 61, .75);
  overflow-x:hidden;
  overflow-y:auto;
  padding:20px;
  padding-bottom: 0;
  }

.left #sidebar {
  left:0;
  right:auto;
  border-left:none;
  }

/*MAP CSS*/
.map {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
  }

/*CONTROL CSS*/
.leaflet-center {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
}
.leaflet-control-geosearch, .leaflet-control-geosearch ul {
        border-radius: 7px;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
        margin: 10px 0 0 0;
        padding: 5px;
        width: 100%;
        height: auto;
}
.leaflet-control-geosearch-msg ul {
        list-style: none;
        display: none;
        height: auto;
        background: none;
        padding: 0;
}
.leaflet-control-geosearch ul li {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    margin: 2px 0;
    padding: 4px;
    font: 12px arial;
    text-indent: 4px;
}
.leaflet-container .leaflet-control-geosearch input {
        width: 100%;
        height: 28px;
        padding: 0;
        text-indent: 8px;
        background: rgba(255, 255, 255, 0.75);                        
        border-radius: 4px;
        border: none;
}

.leaflet-control-loading {
    /* This is where your loading indicator would go */
    background: url('http://ebrelsford.github.io/Leaflet.loading/loading.gif');
}

.leaflet-control-loading,
.leaflet-control-zoom a.leaflet-control-loading {
    display: none;
}

.leaflet-control-loading.is-loading,
.leaflet-control-zoom a.leaflet-control-loading.is-loading {
    display: block;
}

/* Necessary for display consistency in Leaflet >= 0.6 */
.leaflet-bar-part-bottom {
    border-bottom: medium none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
}

.leaflet-control-locate a {
	background-image: url(/images/locate.png);
	background-position: -2px -2px;
}

.leaflet-touch .leaflet-control-locate a {
	background-image: url(/images/locate_touch.png);
}

.leaflet-control-locate.requesting a {
	background-image: url(/images/spinner.gif);
	background-position: 50% 50%;
}

.leaflet-control-locate.active a {
	background-position: -32px -2px;
}

.leaflet-control-locate.active.following a {
	background-position: -62px -2px;
}

.leaflet-touch .leaflet-control-locate {
	box-shadow: none;
	border: 4px solid rgba(0,0,0,0.3);
}
