@model Momento.Models.MemberViewModel

@{
    Layout = "~/Views/Shared/_Landing.cshtml";
}

@{  
    <div id="loginContainer">
        @Html.Partial("Partials/_Login")
    </div>@*
    <div id="registerContainer">
        @Html.Partial("Partials/_Signup")
    </div>*@ 
}

